header.header {
    background-color: #242128;
    padding: 0px 15px;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: var(--shadow);
    align-items: center;
}

header.header h1 {
    font-size: 1.8em;
}